/* CSS Document */
.clear{clear:both;}
.stock_search{width:98.5%; min-width:900px; margin:20px 0;}
.stock_export{width:98.5%; margin:0 auto; margin-top:20px; padding:20px; background:#FFF; border:1px solid #CCC;}
.stock_export_title{height:30px; line-height:30px; color:#000; font-size:14px; margin-bottom:10px;}
.stock_export_timebegin,.stock_export_timeend,.stock_export_hourbegin,.stock_export_minbegin,.Symbol,.stock_export_minend,.stock_export_hourend{float:left; margin-right:10px;}
.stock_export_channel,.export_full_info_flag,.export_submit_search,.export_submit{float:left;margin-right:10px;margin-top:15px;}
.stock_export_channel select{width:200px; height:30px; line-height:30px; font-size:12px;}
.stock_main{width:98.5%; margin:20px 0;}
.stock_main_list{width:98.5%; margin:0 auto; padding:20px; background:#FFF; border:1px solid #CCC;}
.list{width:98.5%; margin:0 auto; border:2px solid #CCC;}
.list_title{width:100%; min-width:900px; height:30px; background:#9BB7BF; font-weight:bold;}
.list_title_agency{float:left; width:10%; height:30px; line-height:30px; text-align:center; border-right:1px solid #CCC;overflow: hidden;}
.list_title_time{float:left; width:20%; height:30px; line-height:30px; text-align:center; border-right:1px solid #CCC;}
.list_title_cate{float:left; width:15%; height:30px; line-height:30px; text-align:center;overflow:hidden;}
.list_title_goodssn{float:left; width:10%; height:30px; line-height:30px; text-align:center;   border-left:1px solid #CCC;}
.list_title_size{float:left; width:10%; height:30px; line-height:30px; text-align:center; border-left:1px solid #CCC;}
.list_title_color{float:left; width:10%; height:30px; line-height:30px; text-align:center; border-left:1px solid #CCC;}
.list_title_sum{float:left; width:10%; height:30px; line-height:30px; text-align:center; border-left:1px solid #CCC;}
.list_title_currunt_sum{float:left; width:10%; height:30px; line-height:30px; text-align:center; border-left:1px solid #CCC;}
.list_title_change{float:left; width:10%; height:30px; line-height:30px; text-align:center; border-left:1px solid #CCC;}
.list_title_channel{float:left;}
.list_title_channel ul{list-style:none; margin:0px; padding:0px;}
.list_title_channel ul li{float:left; width:87px; height:30px; line-height:30px; text-align:center; border-left:1px solid #CCC;overflow: hidden;}
.list_main{border-top:1px #CCC solid; width:100%; min-width:900px;}